<div class="container">
    <p class="
        font__size--b2
        font__weight--medium
        font__color--quaternary
        ">
        {{ 'auth.login.subtitle' | translate:translateService.GetLang }}
        <a routerLink="../create-account" class="font__color--link cursor--pointer">
            {{ 'auth.login.url-create-account' | translate:translateService.GetLang }}
        </a>
    </p>

    <form 
    [formGroup]="myForm" 
    autocomplete="off" 
    (ngSubmit)="loginOnSubmit()"
    class="form__container"
        >
        <input-field
            [legendName]="'input.email' | translate:translateService.GetLang"
            [placeholder]="'input.email' | translate:translateService.GetLang"
            [showIcon]="true"
            [iconName]="'icon-user'"
            formControlName="email"
            [isSubmitted]="formService.isInvalidField( myForm, 'email', isSubmitted ) || isErrorService"
            [errorMessage]="formService.errorMessage(myForm,'email') | translate:translateService.GetLang"
        />
        <input-field
            [legendName]="'input.password' | translate:translateService.GetLang"
            [placeholder]="'input.password' | translate:translateService.GetLang"
            [showIcon]="true"
            [iconName]="'icon-password'"
            [iconEye]="true"
            [inputType]="'password'"
            formControlName="password"
            [isSubmitted]="formService.isInvalidField( myForm, 'password', isSubmitted ) || isErrorService"
            [errorMessage]="formService.errorMessage(myForm,'password') | translate:translateService.GetLang"
        />
        <div class="checkbox__block">
            <label class="
                font__size--b2
                font__weight--medium
                font__color--quaternary
                ">
                <div class="checkbox" [ngClass]="{'selected': myForm.controls['remember'].value === true}">
                    <img 
                        height="13"
                        width="13"
                        [ngSrc]="'../../assets/theme/'+themeService.GetMode+'/icon/icon-input-checked.svg'">

                </div>
                <input  id="checkbox-signin"
                        type="checkbox"
                        formControlName="remember"
                >
                {{'auth.login.remember' | translate:translateService.GetLang}}
            </label>
        </div>
        
        <button class="btn btn--primary w--100" style="height: 37px;" type="submit">
            @if (showLoader) {
                <loader></loader>
            } @else {
                {{ 'button.login' | translate:translateService.GetLang }}
            }
        </button>
        
        @if (isErrorService) {
            <span class="
                font__size--b2
                font__weight--regular 
                font__color--danger
                input--error_msn
                ">
                {{ msnServiceError | translate:translateService.GetLang}}
            </span>
        }
    </form>


    <a routerLink="../forgot-password"
        class="
        font__size--b2
        font__weight--medium
        font__color--link
        cursor--pointer
        ">
        {{ 'auth.login.url-forgot-password' | translate:translateService.GetLang }}
    </a>

</div>