.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--size-header);
    width: var(--size-header);
    border: var(--border-xs) solid var(--fd-color-border-sidebar);
    border-radius: var(--radius-minimal);
    background-color: var(--fd-color-bg-sidebar);
    gap: var(--spacing-xs);
    cursor: pointer;
}