<main class="container">
    <section class="section__banner">
    </section>
    <section class="section__components">
        <div class="section__header">
            <img 
                width="60"
                height="60"
                alt="company logo"
                priority
                [ngSrc]="'../../assets/theme/'+themeService.GetMode+'/logo/logo.svg'" alt=""
            >
            <translate-dropdown/>

        </div>

        <div class="section__body">
            <breadcrumb/>
            <router-outlet></router-outlet>

        </div>
    </section>

</main>