<div class="container">
    <form   
        [formGroup]="myForm" 
        autocomplete="off" 
        (ngSubmit)="createUser()"
        class="form__container"
        >
        <input-field
            [legendName]="'input.email' | translate:translateService.GetLang"
            [placeholder]="'input.email' | translate:translateService.GetLang"
            [showIcon]="true"
            [iconName]="'icon-email'"
            formControlName="email"
            [isSubmitted]="formService.isInvalidField( myForm, 'email', isSubmitted ) || isUserAlreadyExist"
            [errorMessage]="formService.errorMessage(myForm,'email') | translate:translateService.GetLang"
        />
        <input-field
            [legendName]="'input.fullName' | translate:translateService.GetLang"
            [placeholder]="'input.fullName' | translate:translateService.GetLang"
            [showIcon]="true"
            [iconName]="'icon-user'"
            formControlName="fullName"
            [isSubmitted]="formService.isInvalidField( myForm, 'fullName', isSubmitted )"
            [errorMessage]="formService.errorMessage(myForm,'fullName') | translate:translateService.GetLang"
        />
        <input-field
            [legendName]="'input.password' | translate:translateService.GetLang"
            [placeholder]="'input.password' | translate:translateService.GetLang"
            [showIcon]="true"
            [iconName]="'icon-password'"
            [iconEye]="true"
            [inputType]="'password'"
            formControlName="password"
            [isSubmitted]="formService.isInvalidField( myForm, 'password', isSubmitted )"
            [errorMessage]="formService.errorMessage(myForm,'password') | translate:translateService.GetLang"
        />
        <input-field
            [legendName]="'input.confirm' | translate:translateService.GetLang"
            [placeholder]="'input.confirm' | translate:translateService.GetLang"
            [showIcon]="true"
            [iconName]="'icon-password'"
            [iconEye]="true"
            [inputType]="'password'"
            formControlName="confirmPassword"
            [isSubmitted]="formService.isInvalidField( myForm, 'confirmPassword', isSubmitted )"
            [errorMessage]="formService.equalFieldsMessage() | translate:translateService.GetLang"
        />
        <div class="btns--container">
            <a class="btn btn--outline__primary w--100" routerLink="../login">
                {{ 'button.back' | translate:translateService.GetLang }}
            </a>

            <button class="btn btn--primary w--100" type="submit">
                @if (showLoader) {
                    <loader></loader>
                } @else {
                    {{ 'button.create-account' | translate:translateService.GetLang }}
                }
            </button>

        </div>
               
        @if (isUserAlreadyExist) {
            <span class="
                font__size--b2
                font__weight--regular 
                font__color--danger
                input--error_msn
                ">
                {{'msn-error.userExist' | translate:translateService.GetLang}}
            </span>
        }
        
    </form>
    

</div>