<!-- <div class="container">
    <div (click)="toggleDropdown()" class="dropdown cursor--pointer">


        <p class="
            font__size--b1 
            font__color--primary 
            font__weight--medium"
            > 
        </p>



        <div class="dropdown__list"
            [ngClass]="{
                'dropdown-open': isDropdownOpen,
                'dropdown-close': !isDropdownOpen,
            }">
            <ul>
             
                
            </ul>

        </div>

    </div>

</div> -->

<div class="container cursor--pointer" (click)="toggleDropdown()">
    <img alt="Icon translate"
        [src]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/navbar/icon-translate.svg'" 
        width="17"
        height="17"
    >
    <p class="
        font__size--b2
        font__weight--medium
        font__color--primary
        ">
        {{'lang.selected' | translate:translateService.GetLang }} 
    </p>
    <img
        width="12"
        height="12"
        alt="Icon translate"
        [src]="'../../../../assets/theme/'+localStorageService.GetMode+'/icon/icon-chevron.svg'" 
        [ngClass]="{'rotate-open': isDropdownOpen, 'rotate-close': !isDropdownOpen }"
    >

    <div class="dropdown"
    [ngClass]="{
        'dropdown-open': isDropdownOpen,
        'dropdown-close': !isDropdownOpen,
        }">
        <ul>
            <li (click)="translateService.toggleLang('es')">
                <a [ngClass]="{'active': translateService.GetLang === 'es'}"
                    class="menu--item">
                    <p class="font__size--b2 font__weight--regular">
                        {{'lang.es' | translate:translateService.GetLang }} 
                    </p>
                </a>
            </li>
            <li (click)="translateService.toggleLang('en')">
                <a [ngClass]="{'active': translateService.GetLang === 'en'}"
                    class="menu--item">
                    <p class="font__size--b2 font__weight--regular">
                        {{'lang.en' | translate:translateService.GetLang }} 
                    </p>
                </a>
            </li>
        </ul>
    </div>

</div>