nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-xs) var(--spacing-md);
    border: var(--border-xs) solid var(--fd-color-border-sidebar);
    border-radius: var(--radius-minimal);
    background-color: var(--fd-color-bg-sidebar);
}
ul {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
}
.link--menu {
    display: flex;
    gap: var(--spacing-sm);
    align-items: center;
    cursor: pointer;
}