<h2> {{ labelTotalUsers() }} </h2>
<br>
<div class="table__container">

    <div class="table__header">
        <label class="field">
            <input 
                type="text" 
                placeholder="Search"
            >
            <img src="../../../../assets/theme/light/icon/icon-search.svg" 
                class="field__icon"
                alt="Search"
                width="17"
                height="17"
            >
        </label>
        <div class="btn__container">
            <button class="btn">
                New Player
            </button>
            <button class="btn btn--outline">
                export
            </button>
        </div>
    </div>

    <table class="content-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>email</th>
                <th>first name</th>
                <th>last name</th>
            </tr>
    
        </thead>
        <tbody>
            @for ( user of users(); track user.id;
                let i = $index,
                first = $first,
                last = $last,
                even = $even
                ) {
                <tr [class]="{
                    'tr--bg__secondary': !even}">
                    <td>{{user.id}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                </tr>
            }
    
        </tbody>

        
    </table>

    <div class="table__footer">
        <!-- <button (click)="loadPage( currentPage() === 1 ? 1 : currentPage() - 1 )" class="btn btn--table">
            back
        </button> -->
        <!-- <p class="
            font__size--c1
            font__weight--medium
            font__color--primary
            ">
            {{ currentPage() }}
        </p> -->
        <button (click)="loadPage( currentPage() + 1 )" class="btn btn--table">
            cargar mas usuarios
        </button>
    </div> 

</div>