.table__container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    background-color: var(--fd-table-bg);
    border-radius: var(--radius-minimal);
    border: var(--border-xs) solid var(--fd-table-border);
    padding: var(--spacing-sm) var(--spacing-md);
}
.table__header {
    display: flex;
    justify-content: space-between;
    .field {
        position: relative;
        input {
            border:.0625rem solid var(--fd-input-border);
            color: var(--fd-input-txt);
            background-color: var(--fd-input-bg);
            padding: 
                var(--spacing-xs) 
                calc(var(--spacing-sm) * 3)
                var(--spacing-xs) 
                var(--spacing-sm) 
            ;
            border-radius: var(--radius-minimal);
            font-size: var(--font__size--b2);
            transition:background-color .2s ease-in-out;
            /* ! @hover */
            &:hover {
                color: var(--fd-input-txt-hover);
                border:.0625rem solid var(--fd-input-border-hover);
                background-color: var(--fd-input-bg-hover);
                transition:background-color .2s ease-in-out;
            }
            /* ! @focus-visible */
            &:focus-visible {
                border:.0625rem solid var(--fd-input-border-focus);
                outline:.0625rem solid transparent;
            }
        
            
            /* ! PLACEHOLDER */
            &::placeholder {
                font-size: var(--font__size--b2);
                color:var(--fd-input-placeholder);
            }
        }
        .field__icon {
            position: absolute;
            display: flex;
            right: var(--spacing-sm);
            top: 50%;
            transform: translate(-10%, -50%);
            cursor: pointer;
            width: 1.0625rem;
            height:  1.0625rem;
        }
    }
    .btn__container {
        display: flex;
        gap: var(--spacing-xs);
    }
}
.content-table {
    border-collapse: collapse;
    tr {
        font-size: var(--font__size--b2);
    }
    thead {
        border-radius: var(--radius-minimal);
        background-color: var(--fd-table-bg-thead);
        color: var(--fd-table-txt-thead);
    }
    tbody {
        color: var(--fd-table-txt);
        .tr--bg__secondary {
            background-color: var(--fd-table-bg-secondary);
        }
    }
    td,
    th {
        padding: var(--spacing-xs) 1rem;
        text-align: center;
        font-weight: 400;
    }
}
.table__footer {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    justify-content: flex-end;
}
.btn--table {
    border-radius: var(--radius-full);
}