// TODO:Eliminate icon sizes
// TODO:Optimizate bg_classes
* {
    //
    // ?                            Set Default Properties
    //
    font-family:var(--font--family__primary);
    margin: 0;
    padding: 0;
    transition: background-color var(--transition-time);
    transition: font-size var(--transition-time);
    line-height: 150%;
    body::-webkit-scrollbar {
        width: 0;
    }
    body {
        background-color:var(--fd-color-bg-primary);
    }
    p, a, li {
        transition: font-size var(--transition-time);
    }
    a, ul {
        text-decoration: none;
    }
    ::marker {
        color: transparent;
    }    
    //                                       
    // ?                                    Font Colors 
    //  
    .font__color--primary {
        color: var(--fd-color-primary);
    }
    .font__color--secondary {
        color: var(--fd-color-secondary);
    }
    .font__color--tertiary {
        color: var(--fd-color-tertiary);
    }
    .font__color--quaternary {
        color: var(--fd-color-quaternary);
    }
    .font__color--brand-primary {
        color: var(--fd-color-brand-primary);
    }
    .font__color--brand-secondary {
        color: var(--fd-color-brand-secondary);
    }
    .font__color--link {
        color: var(--fd-color-brand-primary);
    }
    .font__color--danger {
        color: var(--fd-input-txt-danger);
    }
    //                                       
    // ?                                    Classes 
    //
    // ?                                    Font size 
    //                                       
    // * ---------------------------------- Headlines ------------------------------------------   
    .font__size--h1 {
        font-size: var(--font__size--h1);
    }
    .font__size--h2 {
        font-size: var(--font__size--h2);
    }
    .font__size--h3 {
        font-size: var(--font__size--h3);
    }
    .font__size--h4 {
        font-size: var(--font__size--h4);
    }
    .font__size--h5 {
        font-size: var(--font__size--h5);
    }
    .font__size--h6 {
        font-size: var(--font__size--h6);
    }
    // * ---------------------------------- Body -----------------------------------------------   
    .font__size--b1 {
        font-size: var(--font__size--b1);
    }
    .font__size--b2 {
        font-size: var(--font__size--b2);
    }
    // * ---------------------------------- Captions -------------------------------------------   
    .font__size--c1 {
        font-size: var(--font__size--c1);
    }
    .font__size--c2 {
        font-size: var(--font__size--c2);
    }
    .font__size--c3 {
        font-size: var(--font__size--c3);
    }
    // * ---------------------------------- Label ----------------------------------------------
    .font__size--label {
        font-size: var(--font__size--b2);
    }
    //                                       
    // ?                                    Font Weight 
    //  
    .font__weight--regular {
        font-weight:400;
    }
    .font__weight--medium {
        font-weight:500;
    }
    .font__weight--semibold {
        font-weight:600;
    }
    .font__weight--bold {
        font-weight:700;
    }
    
    //                                       
    // ?                                    Helpers 
    //  
    .cursor--pointer {
        cursor: pointer;
    }
    .none {
        display: none;
    }
    .d--flex {
        display: flex;
    }
    .pointer-events--none {
        pointer-events: none;
    }
    //                                       
    // ?                                    Menu Movile 
    //  
    .font__color--group-name {
        color: var(--fd-color-group-name-txt);
    }
    .font__color--item {
        color: var(--fd-color-item);
    }
    // * ---------------------------------- Color Background -----------------------------------
    .bg_primary {
        color: var(--fd-color-bg-primary);
    }
    .bg_secondary {
        color: var(--fd-color-bg-secondary);
    }
    .bg_tertiary {
        color: var(--fd-color-bg-tertiary);
    }
    // * ---------------------------------- Icon Size ------------------------------------------
    .icon_xs {
        width: var(--icon-xs);
        height: var(--icon-xs);
    }
    .icon_sm {
        width: var(--icon-sm);
        height: var(--icon-sm);
    }
    .icon_md {
        width: var(--icon-md);
        height: var(--icon-md);
    }
    .icon_lg {
        width: var(--icon-lg);
        height: var(--icon-lg);
    }
    //                                       
    // ?                                     Buttons 
    //                                       
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        min-width: 5.1875rem;
        gap: .5rem;
        font-size: var(--font__size--b2);
        padding:var(--spacing-xs) 1rem;
        border-radius: var(--radius-minimal);
        cursor: pointer;
        font-weight: 400;
        border:none;
        
        & img {
            width: 1.375rem;
            height: 1.375rem;
        }

        // -------- Button Primary
        &.btn--primary {
            background-color: var(--fd-btn-bg-color);
            color: var(--fd-btn-color);
            &:hover {
                background-color: var(--fd-btn-hover-bg-color);
                color: var(--fd-btn-hover-color);
            }
            &:active {
                background-color: var(--fd-btn-active-bg-color);
                color: var(--fd-btn-active-color);
            }
            &:focus-visible {
                outline:var(--border-lg) solid var(--fd-btn-focus-outline);
            }
        }

        // -------- Button Outline Primary
        &.btn--outline__primary {
            background-color: var(--fd-btn-outline-primary-bg-color);
            color: var(--fd-btn-outline-primary-txt-color);    
            outline:var(--border-xs) solid var(--fd-btn-outline-primary-outline-color);
            &:hover {
                background-color: var(--fd-btn-outline-primary-hover-bg-color);
                color: var(--fd-btn-outline-primary-hover-txt-color);
                outline:var(--border-xs) solid var(--fd-btn-outline-primary-hover-outline-color);
            }
            &:active {
                background-color: var(--fd-btn-outline-primary-active-bg-color);
                color: var(--fd-btn-outline-primary-active-txt-color);
                outline:var(--border-xs) solid var(--fd-btn-outline-primary-active-outline-color);
            }
            &:focus-visible {
                outline:var(--border-lg) solid var(--fd-btn-outline-primary-focus-outline);
            }
        }

        // -------- Button Outline Secondary
        &.btn--outline__secondary {
            background-color: var(--fd-btn-outline-secondary-bg-color);
            color: var(--fd-btn-outline-secondary-txt-color);    
            outline:var(--border-xs) solid var(--fd-btn-outline-secondary-outline-color);
            &:hover {
                background-color: var(--fd-btn-outline-secondary-hover-bg-color);
                color: var(--fd-btn-outline-secondary-hover-txt-color);
                outline:var(--border-xs) solid var(--fd-btn-outline-secondary-hover-outline-color);
            }
            &:active {
                background-color: var(--fd-btn-outline-secondary-active-bg-color);
                color: var(--fd-btn-outline-secondary-active-txt-color);
                outline:var(--border-xs) solid var(--fd-btn-outline-secondary-active-outline-color);
            }
            &:focus-visible {
                outline:var(--border-lg) solid var(--fd-btn-outline-secondary-focus-outline);
            }
        }

        // -------- Button Success
        &.btn--success {
            background-color: var(--fd-btn-success-bg-color);
            color: var(--fd-btn-success-txt-color);    
            outline:var(--border-xs) solid var(--fd-btn-success-outline-color);
            &:hover {
                background-color: var(--fd-btn-success-hover-bg-color);
                color: var(--fd-btn-success-hover-color);
                outline:var(--border-xs) solid var(--fd-btn-success-hover-outline-color);
            }
            &:active {
                background-color: var(--fd-btn-success-active-bg-color);
                color: var(--fd-btn-success-active-color);
                outline:var(--border-xs) solid var(--fd-btn-success-active-outline-color);
            }
            &:focus-visible {
                outline:var(--border-lg) solid var(--fd-btn-success-focus-outline);
            }
        }
    }
    //  
    // ?                                     Helpers 
    //  
    .w--100 {
        width: 100%;
    }
    //  
    // ?                                     Responsive SM 
    //  
    @media screen and (max-width:480px) {
        .font__size--h4 {
            font-size: var(--font__size--h5);
        }
        .font__size--b1 {
            font-size: var(--font__size--b2);
        }
        .font__size--b2 {
            font-size: var(--font__size--c1);
        }
    }

}
