@import './variables-primitives';

.theme--dark {
    // * ---------------------------------- Primary --------------------------------------------
    --fd-color-primary                                                             :#{$grey-50};
    --fd-color-secondary                                                           :#{$grey-400};
    --fd-color-tertiary                                                            :#{$grey-50};
    --fd-color-quaternary                                                          :#{$grey-300};

    // * ---------------------------------- Background ------------------------------------------
    --fd-color-bg-primary                                                          :#{$grey-600};
    --fd-color-bg-secondary                                                        :#{$grey-700};
    --fd-color-bg-tertiary                                                         :#{$grey-50};
    --fd-color-bg-quaternary                                                       :#{$grey-500};

    // * ---------------------------------- Brand ------------------------------------------------
    --fd-color-brand-primary                                                       :#{$brand-400};
    --fd-color-brand-secondary                                                     :#{$brand-300};
    --fd-color-brand-tertiary                                                      :#{$brand-500};

    // * ---------------------------------- Helpers ------------------------------------------
    --fd-color-main-card                                                           :#{$grey-700};
    --fd-color-lang-selected-txt                                                   :#{$grey-600};

    // * ---------------------------------- Sidebar Menu --------------------------------------
    --fd-color-bg-sidebar                                                           :#{$grey-700};
    --fd-color-group-txt-sidebar                                                    :#{$grey-400};
    --fd-color-menu-txt-sidebar                                                     :#{$grey-300};
    --fd-color-border-sidebar                                                       :#{$grey-500};
    --fd-color-dropdown-txt                                                         :#{$grey-200};
    --fd-color-dropdown-line                                                        :#{$grey-500};
    --fd-color-dropdown-bg-selected                                                 :#{$grey-600};
    --fd-color-dropdown-marker                                                      :#{$grey-400};
    //          Hover
    --fd-color-menu-bg-sidebar-hover                                                :#{$grey-700};
    --fd-color-menu-txt-sidebar-hover                                               :#{$grey-600};
    //          Active
    --fd-color-menu-bg-sidebar-active                                               :#{$grey-600};
    --fd-color-menu-txt-sidebar-active                                              :#{$grey-50};
    --fd-color-menu-border-sidebar-active                                           :#{$grey-500};
    // * ---------------------------------- Movile Menu --------------------------------------
    --fd-color-bg-movile-menu                                                      :#{$grey-0};
    --fd-color-group-name-txt                                                      :#{$grey-600};
    --fd-color-item                                                                :#{$grey-400};
    --fd-color-item-active                                                         :#{$grey-50};
    --fd-color-item-active-txt                                                     :#{$brand-200};
    --fd-color-line-hierarchy                                                      :#{$grey-600};
    //  
    // ?                                    Buttons Default
    //  
    // * ---------------------------------- Button / Default -------------------------------------
    --fd-btn-bg-color                                                               :#{$brand-300};
    --fd-btn-color                                                                  :#{$grey-50};
    // * ---------------------------------- Hover ------------------------------------------------
    --fd-btn-hover-bg-color                                                         :#{$brand-200};
    --fd-btn-hover-color                                                            :#{$grey-100};
    // * ---------------------------------- Active -----------------------------------------------
    --fd-btn-active-bg-color                                                        :#{$brand-500};
    --fd-btn-active-color                                                           :#{$grey-0};
    // * ---------------------------------- Focus -----------------------------------------------
    --fd-btn-focus-outline                                                          :#{$grey-200};
    // * ---------------------------------- Button / Outline --------------------------------------------
    --fd-btn-outline-bg-color                                                       :transparent;
    --fd-btn-txt-color                                                              :#{$grey-400};
    --fd-btn-outline-outline-color                                                  :#{$grey-500};
    // * ---------------------------------- Hover ------------------------------------------------
    --fd-btn-outline-hover-bg-color                                                 :transparent;
    --fd-btn-outline-hover-color                                                    :#{$grey-200};
    --fd-btn-outline-hover-outline-color                                            :#{$grey-200};
    // * ---------------------------------- Active -----------------------------------------------
    --fd-btn-outline-active-bg-color                                                :transparent;
    --fd-btn-outline-active-color                                                   :#{$grey-300};
    --fd-btn-outline-active-outline-color                                           :#{$grey-300};
    // * ---------------------------------- Focus ------------------------------------------------
    --fd-btn-outline-focus-outline                                                  :#{$grey-200};
    // * ---------------------------------- Button / Success --------------------------------------------
    --fd-btn-success-bg-color                                                       :#{$success-100};
    --fd-btn-success-txt-color                                                      :#{$grey-0};
    --fd-btn-success-outline-color                                                  :transparent;
    // * ---------------------------------- Hover ------------------------------------------------
    --fd-btn-success-hover-bg-color                                                 :#{$success-200};
    --fd-btn-success-hover-color                                                    :#{$grey-50};
    --fd-btn-success-hover-outline-color                                            :transparent;
    // * ---------------------------------- Active -----------------------------------------------
    --fd-btn-success-active-bg-color                                                :#{$success-300};
    --fd-btn-success-active-color                                                   :#{$grey-100};
    --fd-btn-success-active-outline-color                                           :transparent;
    // * ---------------------------------- Focus ------------------------------------------------
    --fd-btn-success-focus-outline                                                  :#{$success-300};
    //  
    // ?                                    Input Default
    //  
    // * ---------------------------------- Button / Default -------------------------------------
    --fd-input-bg                                                                   :#{$grey-700};
    --fd-input-border                                                               :#{$brand-400};
    --fd-input-txt                                                                  :#{$grey-50};
    --fd-input-placeholder                                                          :#{$grey-500};
    // * ---------------------------------- Hover ------------------------------------------------
    --fd-input-bg-hover                                                             :#{$grey-600};
    --fd-input-border-hover                                                         :#{$brand-200};
    --fd-input-txt-hover                                                            :#{$grey-100};
    // * ---------------------------------- Focus-visble -----------------------------------------
    --fd-input-border-focus                                                         :#{$brand-100};
    // * ---------------------------------- Error ------------------------------------------------
    --fd-input-border-danger                                                        :#{$danger-200};
    --fd-input-txt-danger                                                           :#{$danger-300};
    // * ---------------------------------- Success ------------------------------------------------
    --fd-input-txt-success                                                          :#{$success-100};
    //
    // ?                                    Table
    //  
    --fd-table-bg                                                                   :#{$grey-0};
    --fd-table-bg-secondary                                                         :#{$grey-50};
    --fd-table-border                                                               :#{$grey-100};
    --fd-table-bg-thead                                                             :#{$brand-300};
    --fd-table-txt-thead                                                            :#{$grey-50};
    --fd-table-txt                                                                  :#{$grey-500};
}