<div class="card__container">
    @if (userWasFound()) {
        <div class="card__profile">
            <img 
                width="125" 
                height="125" 
                [src]="currentUser()?.avatar"
                [alt]="currentUser()?.avatar">
        </div>
        <div class="card__body">
    
            <div class="card__body--header">
                <h2> ID: {{ userId() }} </h2>
            </div>
            
            <div class="card__body--body">
                <ul>
                    <li>
                        <span class="font__weight--medium">
                            name: 
                        </span> 
                        {{ fullName() }} 
                    </li>
                    <li> 
                        <span class="font__weight--medium">
                            email: 
                        </span>
                        {{ currentUser()?.email }} 
                    </li>
                </ul>
            </div>
        </div>
    }
    <div class="card__footer">
        <button class="btn" (click)="loaduser( userId() - 1 )" > back </button>
        <button class="btn" (click)="loaduser( userId() + 1 )" > next </button>
    </div>
</div> 
