<div class="container">
    <!-- TODO: description here -->
    <!-- <p class="
        font__size--b2
        font__weight--medium
        font__color--primary
        ">
    </p> -->
    <form 
    [formGroup]="myForm" 
    autocomplete="off" 
    (ngSubmit)="forgotPassword()"
    class="form__container"
        >
        <input-field
            [legendName]="'input.user' | translate:translateService.GetLang"
            [placeholder]="'input.user' | translate:translateService.GetLang"
            [showIcon]="true"
            [iconName]="'icon-user'"
            formControlName="user"
            [isSubmitted]="formService.isInvalidField( myForm, 'user', isSubmitted ) || isPassUserInvalid"
            [errorMessage]="formService.errorMessage(myForm,'user') | translate:translateService.GetLang"
        />

        <div class="btns--container">
            <a class="btn btn--outline__primary w--100" routerLink="../login">
                {{ 'button.back' | translate:translateService.GetLang }}
            </a>
            
            <button class="btn btn--primary w--100" type="submit">
                {{ 'button.send' | translate:translateService.GetLang }}
            </button>

        </div>
        
    </form>

</div>